
body {
    font-family: Arial, sans-serif;
    background-color: #acd7e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    background-color: #9fbd9e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
    width: 800px;
}
h1 {
    margin-bottom: 10px;
    color: #333;
}
label {
    font-weight: bold;
}
.characterType {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px 0;
}
.characterType input {
    margin-left: 10px;
}
.password {
    font-size: 18px;
    background-color: #f0f0f5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    word-break: break-all;
}
button {
    background-color: #4d1ec4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #14ca78;
}