body {
    font-family: Arial, sans-serif;
    background-color: rgb(70, 124, 130);
    transition: background-color 2s ease; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.passwordContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}

.historyContainer    {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%; 
}

#right-side {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: 20px; 
}

h1 {
    margin-bottom: 10px;
    color: #333;
}

label {
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px 0;
}

.options input {
    margin-left: 10px;
}

.output {
    font-size: 18px;
    background-color: #f0f0f5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 15px 0;
    word-break: break-all;
}

button {
    background-color: rgb(70, 124, 130);;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3d3a3c;
}

#output, #strength {
    margin-top: 10px;
}
